@{
    ViewData["Title"] = "Phân quyền người dùng";
}
@using Kendo.Mvc.UI
@using ERP.Model.Models
@using ERP.Model.DataTransferObjects
@using ERP.Ultilities.Global
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="#">Quản lý danh mục</a></li>
                    <li class="breadcrumb-item active">Phân quyền người dùng</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <h1 class="float-sm-right">Phân quyền người dùng</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card w-100" style="overflow-x:auto;">
                <div class="card-header">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>